.kolom.een {
    grid-area: een;
}

.kolom.een p {
 font-size: 1em;
 margin-bottom: 0.8em;
}

article.intro {
    margin-bottom: 2em;
    font-weight: 500;
}

.kolom.drie {
    grid-area: drie;
    padding: 0;
}

.kolom.twee {
    grid-area: twee;
}

.voorbeeld {
    color: var(--matching-color);
    font-weight: 500;
}

::-webkit-scrollbar {
  width: 0;
}

li {
    list-style-position: outside;
    margin-left: 1.7em;
    line-height: 1.6em;
}

h3 {
    margin-bottom: 0.5em;
    font-size: 1em;
    font-style: italic;
}

h3:not(:first-child) {
    margin-top: 1em;
}

ul {
    margin: 0.5em 0 1em 0;
}

p {
    margin-bottom: 0.5em; 
    line-height: 1.6em;
}


.wave {
    color: var(--matching-color);
}

button {
    background-color: var(--dark-pink);
    border: 0;
    color: var(--background-white);
    padding: 0 2px;
}


.bold {
    font-weight: 600;
}


.contact {
    border: 1px dotted var(--dark-pink);
    padding: 0.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.contact > *:not(a){
    margin-bottom: 5px;
}

a {
    color: var(--dark-pink);
}

.klein {
    padding: 0 2px;
}


.photo {
    width: 100%;
    line-height: 0;
    aspect-ratio: 1/1;
    max-height: 100%;
    position: relative;
}

#filter1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(119, 76%, 33%, 0.2);
}

#filter2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(234, 76%, 33%, 0.2);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text p {
    margin: 0.5em;
    width: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1000px) {
    .pagewrapper {max-width: 690px; margin: 0 auto;}
}