:root {
    --aantalWebsites: 5;
}

/*/ / WEBSITES/ /*/
#websites {
    padding-bottom: var(--height-nav);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#website {
    height: calc(100% - var(--height-nav));
}

section#website article {
    display: none;
    flex-direction: column;

    height: 100%;
}

section#website article.actief {
    display: flex;
}

/* UITLEG */
.uitleg h3 {
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
}

.uitleg h3 a {
    color: var(--dark-pink);
    text-decoration: wavy underline;
    text-underline-offset: 4px;
}

.uitleg p {
    width: 100%;
}

.uitleg p:not(:last-of-type) {
    margin-bottom: 2.5vw;
}

details summary {
    text-align: center;
    margin-bottom: 2vw;
}

/* BROWSER */
.browser {
    width: 100%;
    height: fit-content;
    margin-bottom: 2.5vw;
}

.window {
    width: 100%;
    aspect-ratio: 2/1;
    background-color: rgb(88, 141, 141);

    line-height: 0;
}

img {
    width: 100%;
    object-fit: cover;
}

.bar {
    width: 100%;
    aspect-ratio: 22/1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--light-pink); */
}

.window::-webkit-scrollbar-track
{
	border-radius: 8px;
	background-color: #F5F5F5;
}

.window::-webkit-scrollbar
{
	width: 10px;
	background-color: hsl(61, 53%, 83%);
}

.window::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	background-color: #a2914e;
}

.bar {
    background-color: hsl(61, 53%, 83%); 
    border: 0.5px solid hsl(48, 35%, 47%);
    border-bottom: 0;
}

.inputfield {
    border: 0.5px solid hsl(48, 35%, 47%);
}

.window {
    border-top: 0.5px solid #a2914e;
    overflow-y:scroll;
    border: 0.5px solid hsl(48, 35%, 47%);
}

.noscroll .window {
    overflow-y: hidden;
}

.arrows {
    width: 6%;

    margin: 0 2% ;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.commandos {
    height: 100%;
    width: 10%;

    margin: 0 2.5% ;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputfield {
    height: 70%;
    width: 75%;

    background-color: var(--background-white);
    /* border: 0.5px solid var(--dark-pink); */

    vertical-align: middle;

    display: flex;
    align-items: center;
}

.inputfield p {
    padding-left: 4px;
    font-size: 8px;
    text-align: left;
}


/*/ / OVERZICHT / /*/

section#selectie {
    height: calc(var(--height-nav) * 1);
    width: 100%;

    position: absolute;
    bottom: calc(var(--height-nav));

    border-top: 2px solid var(--dark-pink);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-white);
}


section#selectie div {
    display: none;
    height: 100%;
    width: calc(100% / 3);
}

section#selectie div.actief {
    width: calc(100% /3);

    box-sizing: content-box;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

section#selectie div a {
    font-size: 1.6em;
    line-height: 1.6em;

    font-weight: 600;

    color: var(--dark-pink);

    text-decoration: none;
    height: fit-content;

}

#selectie svg {
    width: calc(100% / 3);
    transition: background-color 1.5s ease; /* 1 second fade-out effect */
  }



/*/ / DESKTOP / /*/
@media screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "websites website website";
    }    

    section#websites {
        grid-area: websites;
        height: 100%;
    }

    section#websites div {
        height: calc(100% / var(--aantalWebsites));
    }

    section#website {
        grid-area: website;
        width: 100%;
        height: 100%;
    }
    section#website.actief {
        display: grid;
    }
    section#website article {
        flex-direction: row;
    }

    section#website article div {
        width: 100%;
    }

    section#website article div.browser {
        margin: auto;
    }

}
