:root {
    --kleur-browser:  hsl(69, 20%, 69%);
    --kleur-browser-licht: hsl(69, 69%, 90%);
    --height-commands: calc(1.5 * var(--height-nav));
}

html, body {
    touch-action: none;
}

main {
    overflow-y: hidden;
}

/*/ / WEBBROWSER/ /*/

#websites {
    height: calc(100% - var(--height-commands));
    
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#websites article {
    display: none;
    flex-direction: column;
    justify-content: center;

    height: 100%;
}

#websites article.actief {
    display: flex;
}

/* UITLEG */
.uitleg {
    display: none;
}

.uitleg p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 300;
}

.uitleg p b {
    color: var(--kleur);
}

.uitleg p { margin-bottom: 2.5vw;}

.uitleg p a {
    color: var(--dark-pink);
}

.informatie#websites article { justify-content: start;}
.informatie#websites article .uitleg { display: block;}

.uitleg figure {
    border: 1px solid var(--kleur-browser);
    margin: 5vw 0;
    overflow: hidden;
    touch-action: pinch-zoom;
    line-height: 0;
}

/* figure img {
    scale: 200%;
    transform-origin: 0 0;
} */


/*/ / COMMANDO'S / /*/

section#selectie {
    height: var(--height-commands);
    width: 100%;

    border-top: 1px solid var(--dark-pink);

    display: flex;
    justify-content: center;
    align-items: center;
}


section#selectie div {
    height: 100%;
    width: calc(100% / 3);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
    line-height: 1.5em;

    font-weight: 300;

    color: var(--dark-pink);

    text-decoration: none;
}

section#selectie div.actief {font-weight: 900; font-size: 1.6em;}

#selectie svg { width: calc(100% / 3);}
#selectie svg.einde {
    opacity: 0;
}


/* BROWSER */
.browser {
    width: 100%;
    height: fit-content;
    margin-bottom: 2.5vw;
}

.window {
    width: 100%;
    aspect-ratio: 2/1;

    line-height: 0;

    border-top: 0.5px solid var(--kleur-browser);
    overflow-y:scroll;
    border: 0.5px solid var(--kleur-browser);
}

.noscroll .window { overflow: hidden;}

img { width: 100%; object-fit: cover;}

.bar { width: 100%; aspect-ratio: 22/1; display: flex; justify-content: space-between; align-items: center;}
.bar { background-color: var(--kleur-browser-licht);  border: 0.5px solid var(--kleur-browser); border-bottom: 0;}
.window::-webkit-scrollbar-track { border-radius: 8px; background-color: var(--kleur-browser-licht);}
.window::-webkit-scrollbar { width: 10px; background-color: var(--kleur-browser-licht);}
.window::-webkit-scrollbar-thumb { border-radius: 4px; background-color: var(--kleur-browser);}

.inputfield { border: 0.5px solid var(--kleur-browser);}
.arrows { width: 6%; margin: 0 2% ; display: flex; justify-content: space-between; align-items: center;}
.commandos { height: 100%; width: 10%; margin: 0 2.5%; display: flex; justify-content: space-between; align-items: center; }
.inputfield { height: 70%; width: 75%; background-color: var(--background-white); vertical-align: middle; display: flex; align-items: center;}
.inputfield p { padding-left: 4px; font-size: 8px; text-align: left;}



/*/ / DESKTOP / /*/
@media screen and (min-width: 600px) {
  
.pagewrapper {
    padding: 20px calc(100% / 3);
}

.uitleg p { margin-bottom: 20px;}
.browser { margin-bottom: 20px; }

.uitleg figure {
    margin: 20px 0;
}

}
