html {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.soaai {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    animation: glow 6s infinite;
}

@keyframes glow {
    0% {
        background-color: var(--light-pink);
    }
    50% {
        background-color: #d9b086;
    }
    100% {
        background-color: var(--light-pink);
    }
}
.klein {
    font-size: 0.7em;
}
main {
    background-image: URL(experiment/textuur_water.jpg);
    background-size: auto;
}

.bold {
    font-weight: normal;
}

nav a.actief {
    font-weight: normal;
}

main p {
    margin: auto;
}